#search-form {
  background-color: #0667bde6;
  padding: 5px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

input {
  border-radius: 4px 0 0 4px;
  border: none;
  height: 30px;
  width: 300px;
  outline: #0088ffe6;
}
img {
  width: 100%;
  height: 200px;
}
button {
  border: none;
  border-radius: 0 4px 4px 0;
}
.link {
  text-decoration: none;
  width: calc((100% - 90px) / 4);
  color: inherit;
}
.gallery {
  min-width: 1200px;
  margin: 30px 30px 0 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.photo-card {
  width: 100%;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
}
.info {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.info-item {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
}
.info-value {
  display: flex;
  justify-content: center;
}

.load-more:disabled {
  background-color: #c1c1c1;
  cursor: not-allowed;
}
.load-more.hidden {
  display: none;
}
.load-more {
  margin: 0 auto;
  margin-top: 50px;
  display: block;
}
